/* --------------------유럽소식  , 여행 동영상 리스트 페이지---------------- */
.sub_section {
  width: 1320px;
  margin: 80px auto;
}

.sub_section .title,
.travel_detail_section .title,
.review_detail_section .title,
.review_section .title,
.news_detail_section .title {
  font-size: 28px;
  font-weight: 500;
  color: #222;
  line-height: 35px;
  text-align: center;
}

.sub_section .sub_title,
.travel_detail_section .sub_title,
.review_detail_section .sub_title,
.review_section .sub_title,
.news_detail_section .sub_title {
  margin-top: 7px;
  font-size: 14px;
  color: #555;
  font-weight: 400;
  letter-spacing: 0.55em;
  line-height: 17px;
  text-align: center;
}

.sub_section .unit_list {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.sub_section .unit_list label {
  position: relative;
}

.sub_section .unit_list {
  position: relative;
}

.sub_section .unit_list .search_input {
  position: relative;
  width: 245px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 0 42px 0 15px;
}
.sub_section .unit_list button {
  position: absolute;
  top: 9px;
  right: 15px;
  background: url("../img/icon/search.svg") center center / cover no-repeat;
  width: 22px;
  height: 22px;
}

.sub_section .list_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  padding: 18px 0;
  text-align: center;
  border-top: 1px solid #222;
  border-bottom: 1px solid #efefef;
}

.sub_section .list_wrap .table_list_title {
  font-size: 15px;
  font-weight: 400;
}

.sub_section .list_wrap li:nth-child(1) {
  width: 150px;
}

.sub_section .list_wrap li:nth-child(2) {
  width: 1000px;
}

.sub_section .list_wrap li:last-child {
  width: 170px;
}

.sub_section .list {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
}

.sub_section .list .table_list_title {
  font-size: 14px;
  font-weight: 300;
}

.sub_section .list p:nth-child(1) {
  width: 150px;
}

.sub_section .list p:nth-child(2) {
  width: 1000px;
  text-align: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub_section .list p:last-child {
  width: 170px;
  color: #555;
}

.sub_section .none_text {
  padding-top: 255px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #555;
}

/* ------------------------------여행 동영상 섹션-------------------------------- */
.video_section .video_list_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  padding-top: 20px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #efefef;
}

.video_section .video_list {
  margin-bottom: 98px;
  cursor: pointer;
}

.video_section .video_list:not(:nth-child(4n)) {
  margin-right: 20px;
}

.video_section .thumbnail {
  width: 315px;
  height: 189px;
}

.video_section .date {
  margin: 10px 0 5px;
  font-size: 12px;
  font-weight: 300;
  color: #888;
}

.video_section .name {
  width: 315px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/* --------------------------------유럽 소식 상세페이지--------------------------- */
.sub_detail_section {
  width: 1320px;
  margin: 80px auto;
}

.sub_detail_section .content_title_wrap {
  display: flex;
  align-items: center;
  margin-top: 70px;
  padding: 18px 20px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #efefef;
}

.sub_detail_section .content_title_wrap .content_title {
  width: 1130px;
  font-size: 16px;
  font-weight: 300;
}

.sub_detail_section .content_title_wrap .date {
  font-size: 14px;
  margin-left: auto;
  font-weight: 400;
  color: #888;
}

.news_detail_section .content {
  padding: 50px 20px 280px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  white-space: pre-line;
}

.sub_detail_section .content .img {
  display: block;
  width: 915px;
  height: 550px;
  margin: 0 auto 40px;
}

/* ------------------------------여행 동영상 상세 페이지------------------------- */
.travel_detail_section .content_wrap {
  padding: 50px 20px 160px;
}

.travel_detail_section .content_wrap .img {
  display: block;
  width: 915px;
  height: 550px;
  margin: 0 auto 60px;
}

.travel_detail_section .content_wrap .img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.travel_detail_section .content {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  white-space: pre-line;
}

/* 태블릿 */
@media screen and (max-width: 1400px) {
  /* --------------------유럽소식  , 여행 동영상 리스트 페이지---------------- */
  .sub_section {
    width: calc(100vw * (1320 / 1400));
    margin: calc(100vw * (80 / 1400)) auto;
  }

  .sub_section .title,
  .travel_detail_section .title,
  .review_detail_section .title,
  .review_section .title,
  .news_detail_section .title {
    font-size: calc(100vw * (28 / 1400));
  }

  .sub_section .sub_title,
  .travel_detail_section .sub_title,
  .review_detail_section .sub_title,
  .review_section .sub_title,
  .news_detail_section .sub_title {
    margin-top: calc(100vw * (7 / 1400));
    font-size: calc(100vw * (14 / 1400));
  }

  .sub_section .unit_list {
    margin-top: calc(100vw * (20 / 1400));
  }

  .sub_section .unit_list .search_input {
    width: calc(100vw * (245 / 1400));
    font-size: calc(100vw * (15 / 1400));
    padding: 0 calc(100vw * (42 / 1400)) 0 calc(100vw * (15 / 1400));
  }

  .sub_section .unit_list button {
    top: calc(100vw * (9 / 1400));
    right: calc(100vw * (15 / 1400));
    width: calc(100vw * (22 / 1400));
    height: calc(100vw * (22 / 1400));
  }

  .sub_section .list_wrap {
    margin-top: calc(100vw * (12 / 1400));
    padding: calc(100vw * (18 / 1400)) 0;
  }

  .sub_section .list_wrap .table_list_title {
    font-size: calc(100vw * (15 / 1400));
  }

  .sub_section .list_wrap li:nth-child(1) {
    width: calc(100vw * (150 / 1400));
  }

  .sub_section .list_wrap li:nth-child(2) {
    width: calc(100vw * (1000 / 1400));
  }

  .sub_section .list_wrap li:last-child {
    width: calc(100vw * (170 / 1400));
  }

  .sub_section .list {
    padding: calc(100vw * (18 / 1400)) 0;
  }

  .sub_section .list .table_list_title {
    font-size: calc(100vw * (14 / 1400));
  }

  .sub_section .list p:nth-child(1) {
    width: calc(100vw * (150 / 1400));
  }

  .sub_section .list p:nth-child(2) {
    width: calc(100vw * (1000 / 1400));
  }

  .sub_section .list p:last-child {
    width: calc(100vw * (170 / 1400));
  }

  .sub_section .none_text {
    padding-top: calc(100vw * (255 / 1400));
    font-size: calc(100vw * (16 / 1400));
  }

  /* ------------------------------여행 동영상 섹션-------------------------------- */
  .video_section .video_list_wrap {
    margin-top: calc(100vw * (12 / 1400));
    padding-top: calc(100vw * (20 / 1400));
  }

  .video_section .video_list {
    margin-bottom: calc(100vw * (98 / 1400));
  }

  .video_section .video_list:not(:nth-child(4n)) {
    margin-right: calc(100vw * (20 / 1400));
  }

  .video_section .thumbnail {
    width: calc(100vw * (315 / 1400));
    height: calc(100vw * (189 / 1400));
  }

  .video_section .date {
    margin: calc(100vw * (10 / 1400)) 0 calc(100vw * (5 / 1400));
    font-size: calc(100vw * (12 / 1400));
  }

  .video_section .name {
    width: calc(100vw * (315 / 1400));
    font-size: calc(100vw * (16 / 1400));
  }

  /* --------------------------------유럽 소식 상세페이지--------------------------- */
  .sub_detail_section {
    width: calc(100vw * (1320 / 1400));
    margin: calc(100vw * (80 / 1400)) auto;
  }

  .sub_detail_section .content_title_wrap { 
    margin-top: calc(100vw * (70 / 1400));
    padding: calc(100vw * (18 / 1400)) calc(100vw * (20 / 1400));
  }

  .sub_detail_section .content_title {
    width: calc(100vw * (1130 / 1400));
    font-size: calc(100vw * (16 / 1400));
  }

  .sub_detail_section .content_title_wrap .content_title {
    width: calc(100vw * (1130 / 1400));
    font-size: calc(100vw * (16 / 1400));
  }

  .sub_detail_section .content_title_wrap .date {
    font-size: calc(100vw * (14 / 1400));
  }

  .sub_detail_section .date {
    font-size: calc(100vw * (14 / 1400));
  }

  .news_detail_section .content {
    padding: calc(100vw * (50 / 1400)) calc(100vw * (20 / 1400)) calc(100vw * (280 / 1400));
    font-size: calc(100vw * (14 / 1400));
  }

  .sub_detail_section .content .img {
    width: calc(100vw * (915 / 1400));
    height: calc(100vw * (550 / 1400));
    margin: 0 auto calc(100vw * (40 / 1400));
  }

  /* ------------------------------여행 동영상 상세 페이지------------------------- */
  .travel_detail_section .content_wrap {
    padding: calc(100vw * (50 / 1400)) calc(100vw * (20 / 1400)) calc(100vw * (160 / 1400));
  }

  .travel_detail_section .content_wrap .img {
    width: calc(100vw * (915 / 1400));
    height: calc(100vw * (550 / 1400));
    margin: 0 auto calc(100vw * (60 / 1400));
  }

  .travel_detail_section .content {
    padding: 0 calc(100vw * (20 / 1400));
    font-size: calc(100vw * (14 / 1400));
  }

  /* 페이지네이션 */
  .pagination ul {
    padding-top: calc(100vw * (65 / 1400));
  }

  .pagination .prev_btn {
    margin-right: calc(100vw * (24 / 1400));
  }

  .pagination .next_btn {
    margin-left: calc(100vw * (24 / 1400));
  }

  .pagination ul li a {
    font-size: calc(100vw * (16 / 1400));
  }

  .pagination ul li:not(last-child) {
    margin-right: calc(100vw * (15 / 1400));
  }
}

/* 모바일 */
@media screen and (max-width: 900px) {
  /* --------------------유럽소식  , 여행 동영상 리스트 페이지---------------- */
  .sub_section {
    width: calc(100vw * (398 / 428));
    margin: 0 auto calc(100vw* (55/428));
  }

  .sub_section .title,
  .travel_detail_section .title,
  .review_detail_section .title,
  .review_section .title,
  .news_detail_section .title {
    font-size: calc(100vw * (20 / 428));
  }

  .sub_section .sub_title,
  .travel_detail_section .sub_title,
  .review_detail_section .sub_title,
  .review_section .sub_title,
  .news_detail_section .sub_title {
    margin-top: calc(100vw * (8 / 428));
    font-size: calc(100vw * (14 / 428));
  }

  .sub_section .unit_list {
    width: calc(100vw * (378 / 428));
    margin: calc(100vw * (55 / 428)) auto 0;
  }

  .sub_section .unit_list .search_input {
    width: calc(100vw * (200 / 428));
    height: calc(100vw * (40 / 428));
    font-size: calc(100vw * (15 / 428));
    padding: 0 calc(100vw * (42 / 428)) 0 calc(100vw * (15 / 428));
  }

  .sub_section .unit_list button {
    top: calc(100vw * (8 / 428));
    right: calc(100vw * (15 / 428));
    width: calc(100vw * (24 / 428));
    height: calc(100vw * (24 / 428));
  }

  .sub_section .news_content {
    border-top: 1px solid #222;
    margin-top: calc(100vw * (15 / 428));
  }

  .sub_section .list_wrap {
    display: none;
  }

  .sub_section .list_wrap .table_list_title {
    font-size: calc(100vw * (15 / 428));
  }

  .sub_section .list_wrap li:nth-child(1) {
    width: calc(100vw * (150 / 428));
  }

  .sub_section .list_wrap li:nth-child(2) {
    width: calc(100vw * (1000 / 428));
  }

  .sub_section .list_wrap li:last-child {
    width: calc(100vw * (170 / 428));
  }

  .sub_section .list {
    flex-wrap: wrap;
    padding: calc(100vw * (22 / 428)) calc(100vw * (15 / 428));
  }

  .sub_section .list .table_list_title {
    font-size: calc(100vw * (15 / 428));
  }

  .sub_section .list p:nth-child(1) {
    width: auto;
  }

  .sub_section .list p:nth-child(2) {
    width: 100%;
    margin-top: calc(100vw * (10 / 428));
    order: 3;
  }

  .sub_section .list p:last-child {
    width: auto;
    margin-left: calc(100vw * (10 / 428));
    order: 2;
  }

  .sub_section .none_text {
    padding-top: calc(100vw * (255 / 428));
    font-size: calc(100vw * (16 / 428));
  }

  /* ------------------------------여행 동영상 섹션-------------------------------- */
  .video_section .video_list_wrap {
    margin-top: calc(100vw * (0 / 428));
    padding: calc(100vw * (25 / 428)) calc(100vw * (10 / 428));
    border-top: none;
  }

  .video_section .video_list {
    width: 100%;
    margin-bottom: calc(100vw * (55 / 428));
  }

  .video_section .video_list:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .video_section .thumbnail {
    width: 100%;
    height: calc(100vw * (227 / 428));
  }

  .video_section .date {
    margin: calc(100vw * (10 / 428)) 0 calc(100vw * (5 / 428));
    font-size: calc(100vw * (12 / 428));
  }

  .video_section .name {
    width: 100%;
    font-size: calc(100vw * (16 / 428));
  }

  /* --------------------------------유럽 소식 상세페이지--------------------------- */
  .sub_detail_section {
    width: calc(100vw * (398 / 428));
    margin: 0 auto calc(100vw* (100/428));
  }

  .sub_detail_section .content_title_wrap {
    flex-direction: column;
    margin-top: calc(100vw * (55 / 428));
    padding: calc(100vw * (18 / 428)) calc(100vw * (15 / 428));
  }

  .sub_detail_section .content_title_wrap .content_title {
    width: 100%;
    order: 2;
    margin-top: calc(100vw * (5 / 428));
    font-size: calc(100vw * (16 / 428));
  }

  .sub_detail_section .content_title_wrap .date {
    width: 100%;
    order: 1;
    font-size: calc(100vw * (14 / 428));
  }

  .news_detail_section .content {
    padding: calc(100vw * (20 / 428)) calc(100vw * (20 / 428)) calc(100vw * (103 / 428));
    font-size: calc(100vw * (14 / 428));
  }

  .sub_detail_section .content .img {
    width: calc(100vw * (915 / 428));
    height: calc(100vw * (550 / 428));
    margin: 0 auto calc(100vw * (40 / 428));
  }

  /* ------------------------------여행 동영상 상세 페이지------------------------- */
  .travel_detail_section .content_wrap {
    padding: calc(100vw * (35 / 428)) calc(100vw * (20 / 428)) calc(100vw * (100 / 428));
  }

  .travel_detail_section .content_wrap .img {
    width: 100%;
    height: calc(100vw * (227 / 428));
    margin: 0 auto calc(100vw * (20 / 428));
  }

  .travel_detail_section .content {
    padding: 0;
    font-size: calc(100vw * (14 / 428));
  }

  /* 페이지네이션 */
  .pagination .prev_btn {
    margin-right: 0;
  }

  .pagination .next_btn {
    margin-left: 0;
  }

  .pagination ul li a {
    font-size: 0;
  }

  .pagination ul li:not(last-child) {
    margin-right: 0;
  }

  .pagination ul {
    padding-top: calc(100vw * (45 / 428));
  }

  .pagination .prev_icon {
    width: calc(100vw * (28 / 428));
    height: calc(100vw * (28 / 428));
  }

  .pagination .next_icon {
    width: calc(100vw * (28 / 428));
    height: calc(100vw * (28 / 428));
  }

  .pagination ul li a {
    font-size: calc(100vw * (18 / 428));
    margin: 0 calc(100vw * (7.5 / 428));
  }
}
